[Unit]
Description=Gunicorn Server
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory={project_dir}
ExecStart={env_dir}/bin/gunicorn --workers 3 --capture-output --log-level debug --bind unix:/run/gunicorn.sock app:app --timeout 3600 --access-logfile /var/log/gunicorn/access.log --error-logfile /var/log/gunicorn/error.log

[Install]
WantedBy=multi-user.target
